<div class="fixed top-0 h-10 w-screen border-b-4 border-slate-800 bg-slate-600 text-sm font-bold text-white">
  <ul class="flex h-9 w-screen flex-row-reverse items-center px-3">
    <a href="/listing/new">
      <li class=" p-2 px-8 hover:bg-black hover:text-white hover:shadow-2xl hover:shadow-slate-900 hover:text-base bg-slate-500 ">New</li>
    </a>
  </ul>
</div>