<%layout("./layouts/boilerplate.ejs")-%>
<div class="flex h-screen w-screen items-center justify-center border-4 border-green-600">
  <form action="/listing" onsubmit="return validateNewForm()" method="post" class="w-3/4" name="newListingForm">
  <fieldset class="flex w-full flex-col items-center justify-center gap-3 border border-slate-600 px-4 py-5 shadow-2xl">
    <legend align="center" class="px-4 font-serif text-lg font-bold">New Listing</legend>
    <!-- title -->
    <label for="title" class="relative w-full rounded-2xl border shadow-xl  ">
      <input onkeyup="onKeyUpValidation(this)" id="title" name="listing[title]" type="text " class="h-8 w-full rounded-2xl pl-28"  />
      <span class="absolute left-0 h-8 rounded-l-2xl border px-5 pr-14 pt-1 ">Title</span>

      <span class=" absolute -right-2 h-8 rounded-l-2xl  px-5 top-1" >
        <svg id="titleSvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="hidden">
        <path id="titleSvgpath" d="M7.29417 12.9577L10.5048 16.1681L17.6729 9" stroke="currentcolor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
        <circle cx="12" cy="12" r="10" stroke="currentcolor" stroke-width="2"/>
        </svg>
        </span>
    </label>
    <span id="titleSpan" class="text-xs text-rose-500 self-start px-5 hidden"></span>
    <!-- description -->
    <label for="description" class="relative w-full rounded-2xl border shadow-xl">
      <input onkeyup="onKeyUpValidation(this)" id="description" name="listing[description]" type="text " class="h-8 w-full rounded-2xl pl-28" />
      <span class="absolute left-0 h-8 rounded-l-2xl border px-5 pr-1 pt-1">Description</span>

      <span class=" absolute -right-2 h-8 rounded-l-2xl  px-5 top-1" >
        <svg id="descriptionSvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="hidden">
        <path id="descriptionSvgpath" d="M7.29417 12.9577L10.5048 16.1681L17.6729 9" stroke="currentcolor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <circle cx="12" cy="12" r="10" stroke="currentcolor" stroke-width="2"/>
        </svg>
        </span>
    </label>
    <span id="descriptionSpan" class="text-xs text-rose-500 self-start px-5 hidden"></span>
    <!-- image -->
    <label for="image" class="relative w-full rounded-2xl border shadow-xl">
      <input onkeyup="onKeyUpValidation(this)" id="image" name="listing[image]" type="text " class="h-8 w-full rounded-2xl pl-28 " />
      <span class="absolute left-0 h-8 rounded-l-2xl border px-5 pr-4 pt-1">Image Url</span>
      <span class=" absolute -right-2 h-8 rounded-l-2xl  px-5 top-1" >
        <svg id="imageSvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="hidden">
        <path id="imageSvgpath" d="M7.29417 12.9577L10.5048 16.1681L17.6729 9" stroke="currentcolor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <circle cx="12" cy="12" r="10" stroke="currentcolor" stroke-width="2"/>
        </svg>
        </span>
    </label>
    <span id="imageSpan" class="text-xs text-rose-500 self-start px-5 hidden"></span>
    <!-- price -->
    <label for="price" class="relative w-full rounded-2xl border shadow-xl">
      <input onkeyup="onKeyUpValidation(this)" id="price" name="listing[price]" type="text " class="h-8 w-full rounded-2xl pl-28" />
      <span class="absolute left-0 h-8 rounded-l-2xl border px-5 pr-12 pt-1" >Price</span>
      <span class=" absolute -right-2 h-8 rounded-l-2xl  px-5 top-1" >
        <svg id="priceSvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="hidden">
        <path id="priceSvgpath" d="M7.29417 12.9577L10.5048 16.1681L17.6729 9" stroke="currentcolor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <circle cx="12" cy="12" r="10" stroke="currentcolor" stroke-width="2"/>
        </svg>
        </span>
    </label>
    <span id="priceSpan" class="text-xs text-rose-500 self-start px-5 hidden"></span>
    <!-- location -->
    <label for="location" class="relative w-full rounded-2xl border shadow-xl">
      <input onkeyup="onKeyUpValidation(this)" id="location" name="listing[location]" type="text " class="h-8 w-full rounded-2xl pl-28" />
      <span class="absolute left-0 h-8 rounded-l-2xl border px-5 pr-7 pt-1 " >Location</span>
      <span class=" absolute -right-2 h-8 rounded-l-2xl  px-5 top-1 " >
        <svg id="locationSvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="hidden">
        <path id="locationSvgpath" d="M7.29417 12.9577L10.5048 16.1681L17.6729 9" stroke="currentcolor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <circle cx="12" cy="12" r="10" stroke="currentcolor" stroke-width="2" />
        </svg>
        </span>
    </label>
    <span id="locationSpan" class="text-xs text-rose-500 self-start px-5 hidden"></span>
    <!-- country -->
    <label for="country" class="relative w-full rounded-2xl border shadow-xl">
      <input onkeyup="onKeyUpValidation(this)" id="country" name="listing[country]" type="text " class="h-8 w-full rounded-2xl pl-28" />
      <span class=" absolute left-0 h-8 rounded-l-2xl border px-5 pr-8 pt-1" >Country</span>
      <span class=" absolute -right-2 h-8 rounded-l-2xl  px-5 top-1" >
        <svg id="countrySvg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" class="hidden">
        <path id="countrySvgpath" d="M7.29417 12.9577L10.5048 16.1681L17.6729 9" stroke="currentcolor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        <circle cx="12" cy="12" r="10" stroke="currentcolor" stroke-width="2"/>
        </svg>
        </span>

    </label>
    <span id="countrySpan" class="text-xs text-rose-500 self-start px-5 hidden"></span>
    <button class="hover:bg-black h-9 hover:outline outline-gray-600 rounded-3xl border px-7 shadow-xl bg-slate-400 font-bold text-white font-serif ">Submit</button>
  </fieldset>
  </form>
</div>


