<%-include("includes/header.ejs")%>
<body>
  <div class="flex w-screen h-screen justify-center items-center bg-black">
    <img src="4042.jpg" alt="" class="sm:h-screen h-fit w-auto">
  </div>

</body>
</html>