<%-include("includes/header.ejs")%>
<body class="w-screen h-screen bg-[url('somethingwentwrong.jpeg')] bg-center bg-cover bg-no-repeat bg-origin-content bg-fixed">
  <div class="flex h-screen w-screen justify-center items-center">
  <div class="mt-20 animate-bounce">
    <span class="text-lg font-bold font-serif text-white shadow-md border-2 border-rose-700 rounded-full p-5 bg-rose-800"> Problem : <%=message%> </span>
  </div>

  </div>
</body>

<script>
 // setTimeout(function () {window.location = "/listing";}, 2000)
</script>

</html>